
#elem_1353 {
    
                display:inline-block;
            
            width:100%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1353_align {
    position:relative;
    
            left:0px;
            visibility:hidden;
        
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1353_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1353 {display:block; width:100%;}
    
}
#elem_1268 {
    
                display:inline-block;
            
            width:20%; 
        
    vertical-align:bottom;
    
        text-align:left;
    
}
#elem_1268_align {
    position:relative;
    
            left:1150px;
        
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1268_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1268 {display:block; width:100%;}
    
}
#elem_1269 {
    
                display:none;
            
            width:20%; 
        
    vertical-align:bottom;
    
        text-align:left;
    
}
#elem_1269_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1269_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
    
        #elem_1269 {display:none; width:100%}
    
}
#elem_1270 {
    
                display:none;
            
            width:20%; 
        
    vertical-align:bottom;
    
        text-align:left;
    
}
#elem_1270_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1270_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
    
        #elem_1270 {display:none; width:100%}
    
}
#elem_1271 {
    
                display:none;
            
            width:20%; 
        
    vertical-align:bottom;
    
        text-align:left;
    
}
#elem_1271_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1271_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
    
        #elem_1271 {display:none; width:100%}
    
}
#elem_1272 {
    
                display:none;
            
            width:20%; 
        
    vertical-align:bottom;
    
        text-align:left;
    
}
#elem_1272_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1272_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
    
        #elem_1272 {display:none; width:100%}
    
}
#elem_1354 {
    
                display:none;
            
            width:100%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1354_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1354_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
    
        #elem_1354 {display:none; width:100%}
    
}