
#elem_1294 {
    
            display:inline-block;
        
            width:50%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1294_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1294_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1294 {display:block; width:100%;}
    
}
#elem_1369 {
    
                display:inline-block;
            
            width:100%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1369_align {
    position:relative;
    
            left:0px;
            visibility:hidden;
        
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1369_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1369 {display:block; width:100%;}
    
}
#elem_1370 {
    
                display:inline-block;
            
            width:100%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1370_align {
    position:relative;
    
            left:0px;
            visibility:hidden;
        
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1370_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1370 {display:block; width:100%;}
    
}
#elem_1371 {
    
                display:inline-block;
            
            width:100%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1371_align {
    position:relative;
    
            left:-1150px;
        
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1371_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1371 {display:block; width:100%;}
    
}
#elem_1295 {
    
            display:inline-block;
        
            width:40%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1295_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1295_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1295 {display:block; width:100%;}
    
}
#elem_1276 {
    
                display:inline-block;
            
            width:100%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1276_align {
    position:relative;
    
            left:1150px;
        
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1276_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1276 {display:block; width:100%;}
    
}
#elem_1296 {
    
            display:inline-block;
        
            width:60%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1296_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1296_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1296 {display:block; width:100%;}
    
}
#elem_1277 {
    
                display:none;
            
            width:100%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1277_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1277_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
    
        #elem_1277 {display:none; width:100%}
    
}