
#elem_1359 {
    
                display:inline-block;
            
            width:50%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1359_align {
    position:relative;
    
            left:0px;
            visibility:hidden;
        
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1359_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1359 {display:block; width:100%;}
    
}
#elem_1283 {
    
                display:inline-block;
            
            width:50%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1283_align {
    position:relative;
    
            left:1150px;
        
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1283_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
      
        #elem_1283 {display:block; width:100%;}
    
}
#elem_1284 {
    
                display:none;
            
            width:50%; 
        
    vertical-align:top;
    
        text-align:left;
    
}
#elem_1284_align {
    position:relative;
    
    display:block;
    text-align:left;
    
        margin-left:0;
        margin-right:auto;
    
}
#elem_1284_inner {
    display:block;
    
}
@media only screen and (max-width: 600px) {
    
        #elem_1284 {display:none; width:100%}
    
}