body, h1, h2, h3, p, td, div, input, select, option, a, li, ul {
	font-size: 14pt
}
.module-title {
    font-size: 14pt
}
.sideNav {
    display: table-cell;
    width: 50px;
    height: 100%;
    vertical-align: middle;
    visibility: visible;
}
.topbotNav {
    display: none;
    height: 0px;
    visibility: hidden;
}
.stage {
    display: table;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}
.stage_inner {
    display: table-cell;
    min-height: 100%;
    vertical-align: middle;
}
.fullheight,
.flashObject,
.flashObjectImage {
    height: 500px;
}
.fullheight90,
.flashObject90,
.flashObjectImage90 {
    height: 450px;
}
.fullheight80,
.flashObject80,
.flashObjectImage80 {
    height: 400px;
}
.fullheight70,
.flashObject70,
.flashObjectImage70 {
    height: 350px;
}
.fullheight60,
.flashObject60,
.flashObjectImage60 {
    height: 300px;
}
.fullheight50,
.flashObject50,
.flashObjectImage50 {
    height: 250px;
}
.content_inner {
    height: 500px;
}